<div class="min-h-96 w-full bg-gray-200 rounded-lg overflow-hidden"> 
  <%= image_tag(post.images.first, class: "w-full h-64 object-cover") if post.images.any? %>
  <div class="p-2">
    <p class="text-2xl font-semibold"> <%= post.caption %> </p>
    <p class="text-xl"> <%= post.body&.body&.to_plain_text&.first(50) %>... </p>
    <p class="text-md text-gray-700"> by <%= post.user.email %> </p>
    <p class="text-sm text-gray-600"> posted <%= time_ago_in_words(post.created_at) %> ago </p>
  </div>
</div>