<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Caption:</strong>
    <%= post.caption %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% post.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </p>

</div>
